@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}
*:not(.login-left-container) {
    transition: 250ms;
}
*::selection {
    background-color: #fff;
    color: #333;
}
.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}
main {
    height: 100vh;
    width: 100vw;
}
.login-left-container {
    background:url('../img/login-bg.jpg') -25px -50px;
    background-color: #33333390;
    background-blend-mode: multiply;
    position:fixed ;
    top:0;
    width:100%;
    z-index:0;
    height:100%;
    background-size: calc(100% + 50px);
}
.login-right-container {
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    background: #333;
    padding: 0 30px;
}
.welcome-wrap {
    margin-bottom: 20px;
}
.welcome-wrap h1 {
    margin-bottom: 30px !important;
    font-size: 4.5rem;
}
.welcome-wrap *:not(:last-child) {
    margin-bottom: 5px;
}
.welcome-wrap p {
    font-size: .9rem;
    line-height: 1.5rem;
}


form input:not(input[type='submit']) {
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 10px;
    color: #333;
    border: 1px solid #dddddd;
}
form input:not(input[type='submit']):focus {
    border: 1px solid #ee7c20;
    outline: none;
}

.btn-wrap {
    display: flex;
    justify-content: space-between;
}
form input[type='submit'],
form a[role='button'] {
    padding: 15px 70px;
    background-color: #ee7c20;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: calc(50% - 5px);
    text-align: center;
    display: inline-block;
}
form input[type='submit']:hover {
    background: #ea8f45;
}

form a[role='button'],
form a[role='button']::selection {
    background-color: rgb(18, 139, 231);
}
form a[role='button']:hover {
    background-color: rgb(49, 154, 235);
}
form a[role='button']::selection {
    color: #fff;
}

.span-wrap {
    min-height: 20px;
}

.social-icons-wrap {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.social-icons-wrap i {
    font-size: 25px;
    color: #fff;
}
.social-icons-wrap i:hover {
    color: rgb(18, 139, 231);
}
.social-icons-wrap i:first-child {
    margin-right: 5px;
}


/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
br, b {
    display: none;
}
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/